/* Navbar.css */

.navbar {
    position: relative;
    overflow: hidden;
}

.navbar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(90deg, #ff0080, #ff8c00, #00ffbf, #0080ff, #ff0080);
    background-size: 300% 300%; /* Larger background size for smooth color transitions */
    animation: waveAnimation 20s ease-in-out infinite;
}

@keyframes waveAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
